#card-container {
    background-color:pink;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.cards {
    border: 1px solid #8d8c8c;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}